<% provide(:title, 'Contact') %>
<div class="container">
<h1>Contact us</h1>
<div class="col-sm-4">
    <%= image_tag "location_contact.png" %><br>
    <h4>Address:</h4>
    <p>445 Liberty St<br>San Francisco, CA 94114</p>
</div>
<div class="col-sm-4"></div>
<div class="col-sm-4">
    <h3>Contact Information</h3>
    <p>Email: chattybird@chuckup.com</p>
    <p>Phone: 512-298-2098</p>
    <p>Fax: 512-290-8473</p>
</div>
</div>