<div class="container">
    <h1>Usage of the website</h1>
    <div class="progress">
     <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 25%">
      <span class="sr-only">25% Complete</span>Register
     </div>
    </div>
  <div class="panel panel-info">
    <div class="panel-heading">Register process</div>
    <div class="panel-body">
      You will be asking following information while the register process
      <p>username<br>email<br>password</p>
      After filling all the above information, you will be able to login to the system.
    </div>
  </div>
  
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 25%">
    <span class="sr-only">25% Complete</span>
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 25%">
    <span class="sr-only">50% Complete</span>Filling profile detail
  </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">Filing profile detail</div>
    <div class="panel-body">
      Normally, you will be login automatically once you finish the register process. And in order to get more attention from other members, you will
      have to fill more information about yourself. So be real, and have fun.
    </div>
  </div>

<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 25%">
    <span class="sr-only">25% Complete</span>
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 25%">
    <span class="sr-only">50% Complete</span>
  </div>
  <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 25%">
    <span class="sr-only">75% Complete</span>Browser other people on the website
  </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">Browse other people on the website</div>
    <div class="panel-body">
      With the correct credential information, the system will allow member to browse each other's information on the website.
    </div>
  </div>

<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 25%">
    <span class="sr-only">25% Complete</span>
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 25%">
    <span class="sr-only">50% Complete</span>
  </div>
  <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 25%">
    <span class="sr-only">75% Complete</span>
  </div>
  <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 25%">
    <span class="sr-only">100% Complete</span>Enjoy
  </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">Congratulation!!!</div>
    <div class="panel-body">
      Now you are good to go, enjoy the journey of online date, hope you will find your love bird soon.
    </div>
  </div>
</div>

